.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 320px;
  cursor: pointer;

}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
}

.nav-connect {
  padding: 16px 26px;
  border-radius: 50px;
  font-size: 22px;
  cursor: pointer;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.36%);
  transition: transform 0.5s ease;
}

.nav-connect:hover {
  transform: scale(1.05);
}
.anchor-link{
  text-decoration: none;
  color: #fff;
}

/* Media Queries */
@media (max-width: 768px) {
  .Navbar {
    display: none;
  }
 
}
