.mywork {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-bottom: 80px
}
.mywork_title {
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.mywork_contanir {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 24px;
}
.mywork_contanir_img{
  width: 30%;
}
.mywork_showmore {
  display: flex;
  justify-content: center;
  padding: 12px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -0.5%, #b415ff 100%);
  cursor: pointer;
  margin: 0px 460px;
  width:30% ;
}
@media (max-width: 1024px){
  .mywork_showmore{
    width: 80%;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .mywork_title{
    font-size: 20px;
    padding-top: 20px;
  }
  .mywork_contanir{
    display: flex;
    flex-direction: column;
    width: 80%;

  }
  .mywork{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mywork_contanir_img{
    width: 80%;
  }
}