.footer {
  /* margin: 90px 170px; */
  display: flex;
  flex-direction: column;
  /* gap: 30px; */
  background-color: #323232;
  align-items: center;
  gap: 20px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  gap: 200px;
  padding-top: 20px;
  /* padding-left: 624px; */
  /* align-items: center; */
}
.footer-top-left p {
  font-size: 20px;
  /* max-width: 400px; */
color: #d5d5d6;
}
.footer-top-right {
  display: flex;
  align-items: center;
  gap: 35px;
 
}
.footer-email-input {
  display: flex;
  gap: 30px;
  border-radius: 50px;
  background: #323232;
  /* padding-right: 80px; */
  /* height: 32px; */
  padding: 8px;
  align-items: center;
  justify-content: space-between;
}
.footer-email-input input {
  outline: none;
  border: none;
  background: transparent;
  color: rgb(253, 253, 247);
  font-family: Outfit;
  font-size: 18px;
}
.footer-subscribe{
  font-size: 20px;
  padding: 12px ;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -0.5%, #b415ff 100%);
  cursor: pointer;
  transition: 0.3s;
  width: 120px;
  text-align: center;
}
.footer-botom {
  display: flex;
  /* justify-content: space-between; */
  font-size: 18px;
  /* justify-content: center;
  align-items: center; */
  gap: 500px;
  justify-content: center;
}
.footer-bottom-right{
  /* display: flex; */
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 50px;
  display: flex;
  
}
.footer-bottom-right p:hover{
  transform: scale(1.1);
  transition: 0.3s;
}
.footer-email-input:hover {
  border: 2px solid rgb(247, 248, 248);
}
.footer-bottom-right p{
  display: flex;
  color: rgb(224, 222, 219);
  flex-direction: row;
  cursor: pointer;
}
.footer-scub:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
/* .footer-top-left{
  display: contents;
} */