.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323232;
  gap: 20px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  gap: 200px;
  padding-top: 20px;
}

.footer-top-left p {
  font-size: 20px;
  color: #d5d5d6;
}

.footer-email-input {
  display: flex;
  gap: 30px;
  border-radius: 50px;
  background: #323232;
  padding: 8px;
  align-items: center;
  justify-content: space-between;
}

.footer-email-input input {
  outline: none;
  border: none;
  background: transparent;
  color: rgb(253, 253, 247);
  font-family: Outfit;
  font-size: 18px;
}

.footer-subscribe {
  font-size: 20px;
  padding: 12px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -0.5%, #b415ff 100%);
  cursor: pointer;
  transition: background-color 0.3s;
  width: 120px;
  text-align: center;
}

.footer-botom{
  display: flex;
  font-size: 18px;
  gap: 500px;
  justify-content: center;
}

.footer-bottom-right p {
  display: flex;
  color: rgb(224, 222, 219);
  flex-direction: row;
  cursor: pointer;
}

.footer-bottom-right p:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.footer-email-input:hover {
  border: 2px solid rgb(247, 248, 248);
}

.footer-scub:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}
.footer-bottom-left img{
  height: 30px;

}

/* Media Query to Hide Footer in Mobile View */
@media (max-width: 1024px) {
  .footer-top{
    display: none;
  }
  .footer-bottom-right{
    display: none;
  }
  .footer-botom{
    margin-bottom: 20px;
    gap: 2px;
  }
 
 
}
