/* General Styles */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}

.contact-title h1 {
  font-size: 80px;
  font-weight: 800;
  padding: 0 30px; /* Adjust as needed */
}

.contact-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.contact-section {
  display: flex;
  justify-content: center;
  gap: 150px;
}

.contact-left,
.contact-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-left h1 {
  font-size: 80px;
  font-weight: 700;
  background: linear-gradient(270deg, #df8908 80%, #b415ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-left p {
  max-width: 550px;
  color: #fff;
  font-size: 20px;
  line-height: 1.6;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 22px;
  color: #fff;
}

.contact-detail {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-right label {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
}

.contact-right input,
.contact-right textarea {
  width: 100%;
  max-width: 700px;
  border: none;
  height: 60px;
  padding-left: 20px;
  border-radius: 4px;
  background: #323232;
  color: #a0a0a0;
  font-family: 'Outfit', sans-serif;
  font-size: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.contact-right input:focus,
.contact-right textarea:focus {
  background-color: #454545;
  color: #fff;
}

.contact-right textarea {
  max-width: 650px;
  padding: 15px;
}

.contact-submit {
  border: none;
  color: #fff;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  font-size: 22px;
  padding: 20px 60px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.contact-submit:hover {
  transform: scale(1.05);
  background-color: #a00c9e;
}

/* Media Queries */
@media (max-width: 1024px) {
  .contact {
    margin: 80px 50px;
  }
}

@media (max-width: 768px) {
  .contact-title h1 {
    font-size: 36px;
  }

  .contact-left h1 {
    font-size: 36px;
  }

  .contact-left p {
    font-size: 16px;
  }

  .contact-right input,
  .contact-right textarea {
    font-size: 18px;
  }

  .contact-submit {
    padding: 12px 30px;
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .contact-section {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .contact-left,
  .contact-right {
    padding-right: 0;
    width: 100%;
  }

  .contact-left h1,
  .contact-right label {
    font-size: 24px;
  }

  .contact-left p {
    max-width: none;
  }

  .contact-right input,
  .contact-right textarea {
    width: 100%;
    max-width: none;
    height: 50px;
  }
}
